<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/admin.css" type="text/css">
    <script src="js/admin.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.18-beta.0/vue.js"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <!--  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>-->
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

    <script src="../js/md5.js"></script>


</head>
<body>
<!--选择弹出框-->
<div id="choose">
    <label>123</label>
    <div class="cho_btn">
        <a href="javascript:void (0)" class="cho_1">确认</a>
        <a href="javascript:void (0)" class="cho_2">取消</a>
    </div>
</div>
<!--提示弹出框-->
<div id="prompt"></div>


<!--主界面-->
<div id="mainpage">
    <div id="nav">
        <div id="HeadPortrait">
            <h3 style="color: white">导航菜单</h3>
        </div>
        <ul id="nav_list">
            <li>
                <button class="nav_btn user_btn" @click="clickusernav"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理
                </button>
            </li>
            <li>
                <button class="nav_btn"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;系统设置</button>
            </li>
            <li>
                <button class="nav_btn"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;操作记录</button>
            </li>
            <li>
                <button class="nav_btn" @click='webdatanav'><span class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;网站数据
                </button>
            </li>
            <li>
                <button class="nav_btn"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;博文管理</button>
            </li>
            <li>
                <button class="nav_btn"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;发布视频
                </button>
            </li>
        </ul>
    </div>
    <div id="content">
        <div id="con_header">
            <a id="header_btn" href="#"><span class="glyphicon glyphicon-th-list"></span></a>
            <a id="loginout" href="#"><span class="glyphicon glyphicon-off"></span></a>
            <span style="display: block;width: 150px;height: 30px;line-height: 30px;float: right"><i><%= role %>：</i><%= username %></span>
        </div>
        <div id="main_con">
            <div id="main_panel">
                <div id="home_panel">
                    <h1>欢迎登陆后台管理!</h1>
                </div>
                <div id="userM">
                    <div id="uList">
                        <div class="Ptitle">用户列表</div>
                        <ul class="list">
                            <li class="uliTitle">
                                <div class="uBtn currV" @click="uBtn">普通用户</div>
                                <div class="aBtn hideV" @click="aBtn">管理员</div>
                            </li>
                            <li class="liinp"><input type="text" class="seainp" placeholder="昵称/账号"></li>
                            <div class="viewUli">
                                <ul class="area">
                                    <li v-for="user in users" class="auli" @click="clickuser(user.username)">
                                        {{user.name}}:<i>{{user.username}}</i></li>
                                </ul>
                                <div class="block" @mousedown="scrollBar"></div>
                            </div>
                        </ul>

                        <div class="user_jiazai1">
                            <img src="../img/加载.gif" alt="">
                        </div>
                    </div>
                    <div id="userIfo">
                        <!-- 用户管理开始面板-->
                        <div class="starpanle">
                            <h1>使用指南:</h1>
                            <p>1.点击左边用户列表里的用户可查看此用户的信息及修改</p>
                            <p>2.可以选择用户身份查看用户列表</p>
                        </div>

                        <!--操作用户面板-->
                        <div class="ubg">
                            <div class="ubg_top">
                                <ul class="userinfo">
                                    <li>
                                        <p>用户名：<input type="text" id="username" name="username" disabled="disabled"></p>
                                    </li>
                                    <li>
                                        <p>昵&nbsp;&nbsp;称： <input type="text" id="name" name="name"></p>
                                    </li>
                                    <li>
                                        <p>年&nbsp;&nbsp;龄： <input type="text" id="age" name="age"></p>
                                    </li>
                                    <li>
                                        <p>手机号：<input type="text" id="phone" name="phone"></p>
                                    </li>
                                    <li>
                                        <p>邮&nbsp;&nbsp;箱： <input type="text" id="mail" name="mail"></p>
                                    </li>
                                    <li>
                                        <p>性&nbsp;&nbsp;别： <input type="text" id="sex" name="sex"></p>
                                    </li>
                                    <li>
                                        <p>注册时间: <span class="regtime">2019-3-1 14:20</span></p>
                                    </li>
                                </ul>
                                <div class="ubg_top_right">
                                    <p>用户发表的文章</p>
                                    <ul id="userblog">
                                    </ul>
                                </div>
                            </div>
                            <div class="ubg_bottom">
                                <p class="per_user">
                                    <input type="button" value="修改信息" @click="change_sure()">
                                    <input type="button" value="删除用户" id="deleteuser" @click="ondelete()">
                                </p>
                                <div class="user_sprots">
                                    <h4>用户日志</h4>
                                    <ul id="oper">

                                    </ul>
                                </div>
                            </div>
                            <img src="../img/ccc.jpg" alt="" class="userimg">
                        </div>
                    </div>

                    <div id="Notice">
                        <div class="Ntitle">最近登录</div>
                        <div class="Ncontent"></div>
                    </div>

                </div>


                <div id="sys">
                    <div class="sysNav">
                        <ul>
                            <li class="htmlCongfig" @click="getHtmlConfig">页面配置</li>
                            <li>页面配置</li>
                            <li>页面配置</li>
                        </ul>
                    </div>
                    <div class="sysPanel">
                        <div class="HCpanel">
                            <ul>
                                <li class="gonggao">
                                    <b>公告：</b><textarea class="GGV"></textarea><b>*直接输入公告内容</b>
                                </li>
                                <li>
                                    <b>推荐：</b><textarea class="TJV"></textarea><b>*请输入推荐文章id，以"|"分隔</b>
                                </li>
                                <li>
                                    <b>vlog：</b><textarea class="VLV"></textarea><b>*输入vlog地址</b>
                                </li>
                                <li>
                                    <b>热门：</b><textarea class="RMV"></textarea><b>*输入热门文章id</b>
                                </li>
                                <li>
                                    <input type="button" value="确认修改" @click="pageconfigB">
                                </li>
                            </ul>
                        </div>
                        <div class="nowCF" style="padding: 0">
                            <div class="CFtop">
                                <div class="CFbar">
                                    <div class="nowtltle">当前公告</div>
                                    <div class="nowcontent nowNotice"></div>
                                </div>
                                <div class="CFbar">
                                    <div class="nowtltle">推荐</div>
                                    <div class="nowcontent ">
                                        <ul class="nowRec"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="CFbottm">
                                <div class="CFbar">
                                    <div class="nowtltle">vlog</div>
                                    <div class="nowcontent">
                                        <video class="nowVlog" src="" controls></video>
                                    </div>
                                </div>
                                <div class="CFbar">
                                    <div class="nowtltle">热门文章</div>
                                    <div class="nowcontent nowRm">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="record">

                </div>

                <!-- 网站数据面板-->
                <div id="Website">
                    <div class="webs1">
                        <span class="sitename">用户男女比例</span>
                        <div id="container"></div>
                    </div>
                    <div class="webs2">
                        <span class="sitename">最新一周用户增长变化</span>
                        <div id="container1"></div>
                    </div>
                </div>


                <!-- 博客管理面板-->
                <div id="blogM">
                    <div class="blogM_left">
                        <ul class="li_header">
                            <li>
                                <p class="he_title">标题</p>
                                <div class="he_right">
                                    <p>作者</p>
                                    <p>发表时间</p>
                                </div>
                            </li>
                        </ul>
                        <ul id="content_blog">
                            <li>
                                <a href="javascript:void (0)" class="blog_title"></a>
                                <div class="right_blog">
                                    <p>文章ID：<i class="artid"></i></p>
                                    <p class="author" style="color: #00AA88"></p>
                                    <p class="send_time"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="blogM_right"></div>
                </div>
                <div id="ann">
                    <div class="vlog_left">
                        <input id="fileSelector" type="file">
                        <p class="baifenbi" style="display: none"></p>
                        <input id="submitBtn" type="submit">
                    </div>
                    <div class="vlog_right"></div>
                </div>
            </div>

            <div id="main_footer">
                <div class="footer_left">
                    <div>
                        <button><span class="glyphicon glyphicon-envelope"></span>消息</button>
                        <button>任务</button>
                    </div>
                </div>
                <div class="footer_middle"></div>
                <div class="footer_right">
                    <button>主题切换</button>
                    <button>发送站内信</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="panel">


    <!-- 博文详情 -->
    <div id="blogpanel">
        <div class="blog_header">
            <a href="javascript:void(0)" class="dos">删除</a>
            <i class="num"></i>
            <a href="javascript:void(0)" style="color: red;" class="glyphicon glyphicon-remove close_blog_panel"></a>
        </div>
        <div class="blog_body">
            <div contenteditable="true" class="article"></div>
        </div>
        <div class="blog_footer">
            <div class="footer_btn">
                <a href="javascript:void(0)" class="delete_all">清空重写</a>
                <a href="javascript:void(0)" class="sure_chginfo">确认修改</a>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/cos-js-sdk-v5/demo/common/cos-auth.min.js"></script>
<script src="../js/uploadvlog.js"></script>
</body>
</html>