<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>巫婆婆的个人网站</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript">
        window.onload = function () {
            $('body').removeClass('is-loading');

        }
    </script>
</head>
<body class="is-loading">
<div class="curtain">
    <div class="loader">
        loading...
    </div>
</div>
<nav class="navbar navbar-inverse" style="position: fixed;top: 0;width: 100%">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="width: 100px" src="/img/wubo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="navbtn "><a class="nowhtml" href="/">主页</a></li>
                <li class="navbtn"><a href="/blog">博客</a></li>
                <li class="navbtn"><a href="/Vlog">Vlog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbtn"><a class=" msg" href="<%= url %>"><%= info %></a></li>
                <li class="navbtn" style="<%= style1 %>"><a href="/registered">注册</a></li>
                <li class="navbtn" style="<%= style %>"><a id="exit">退出</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">联系我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://weibo.com/92wubo/home">微博</a></li>
                        <li><a href="https://www.zhihu.com/people/wu-bo-4-60/activities">知乎</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="neck">

</div>

<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">

                    <div class="row" style="padding: 0 15px;margin-bottom: 50px">
                        <div class="col-sm-5" style="padding: 0">
                            <div id="recommend">
                                <div class="recHeader glyphicon glyphicon-link">
                                    推荐阅读
                                </div>
                                <ul class="recBody">

                                </ul>
                            </div>
                        </div>
                        <div id="banner" class="col-sm-7">
                            <div class="img">
                                <img class="active_img" src="/img/haitan-002.jpg" alt="">
                                <img src="/img/haitan-003.jpg" alt="" style="display: none">
                                <img src="/img/haitan-006.jpg" alt="" style="display: none">
                            </div>
                            <div class="banner_btn">
                                <div class="btn_left glyphicon glyphicon-chevron-left"></div>
                                <div class="btn_right glyphicon glyphicon-chevron-right"></div>
                            </div>
                        </div>
                    </div>

                    <div id="hotArt">
                        <div class="hotHeader" id="hotHeader">
                            <div class="hotback" style="width: 100%;height: 150px">
                                <img src="img/shulin-001.jpg" alt="" class="hotimg">
                                <div class="atrinfo">
                                    <a class="index_title"><h4><b></b></h4></a>
                                    <p class="index_stime"><b>发表时间：</b></p>
                                    <p><b>作者：</b><a class="index_sendername" ></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="artBody">
                            <div>
                                <b class="blogcontent">

                                </b>
                            </div>
                        </div>
                        <div class="artFooter">
                            <a   class="readmore">阅读更多</a>
                            <a class="commbtn">评论</a>
                            <i></i>
                        </div>
                    </div>

                    <div id="about">
                        <div class="aboutHeader"><b>最近</b></div>
                        <div class="aboutBody">
                            <b>嘻嘻嘻，我最近变懒惰了哦，待在电脑面前的少了。不过最近还是学了一点新的东西。python是真的舒服呢，
                                最近发现了itchart这个模块，我不知道拼写错误没有，我准备用这个做一个后台页面登录提醒，只要有人一登录后台页面，就会给我发一条登录提醒;
                                实现起来应该不是很难，因为我已经做了尝试，基本达到了预期效果，现在只是差真的应用起来了。
                            </b>
                        </div>
                        <div class="aboutFooter"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="notice">
                        <div class="noticeHeader glyphicon glyphicon-list-alt">
                            公示栏
                        </div>
                        <div class="noticeBody">

                        </div>
                    </div>

                    <div id="vlog">
                        <div class="vlogHeader">
                            最新一期的vLog
                        </div>
                        <video controls="controls" style="width: 100%" class="vlogBody"></video>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/common.js"></script>

</body>
</html>