*{
    margin: 0;
    padding: 0;

}
p{
    margin: 0;
}
body{
    overflow-x: hidden;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.panel-default>.panel-heading{
    background-color: #575757;
    color: white;
}

.seabtn{
    margin-left: -5px;
    height: 35px;
    width: 50px;
    background-color: #ffffff;
    color: #9d7074;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    font-size: 15px;
}
.seainp{
    border: none;
    border-bottom: 1px solid #7d7d7d;
    color: #060606;
    opacity: 0.3;
    font-size: 20px;
    height: 35px;
}
.list>.panel-body{
    padding: 0;
}
.bloglist{
    display: block;
    border: 1px solid #999999;
    border-radius: 5px;
}
.bloglist>li{
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom:1px solid #999999 ;
}
.bloglist:nth-child(1){
    border-bottom: none;
}
.bloglist>li>a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}
.bloglist>li>a>.btitle{
    float: left;
    width: 45%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.bloglist>li>a>.binfo{
   float: right;
    text-align: right;
    color: #989898;
    font-size: 12px;
    width: 55%;
}
.seas{
    padding-left: 20px;
    float: left;
}
.seas>input{
    outline: none;
}
#ide{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    z-index: 100;
}
#ide .panel-body{
    padding: 0;
}
.blogbtn input{
    float: right;
    width: 60px;
    height: 30px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-color: #00a0df;
    border-radius: 5px;
    color: white;
}
.Bbtn{
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 50px;
    color: #00a0df;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 99;
    top: 80%;
    right: 10px;
    border: 1px solid #00a0df;
    background-color: white;
    border-radius: 50%;
}
.Up{
    display: none;
    cursor: pointer;
    text-decoration: none;
    width: 50px;
    color: #00a0df;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    z-index: 99;
    top: 70%;
    right: 10px;
    border: 1px solid #00a0df;
    background-color: white;
    border-radius: 50%;
}
.Bbtn:active,.Up:active{
    text-decoration: none;
    color: #00a0df;
}
.Bbtn:visited,.Up:visited{
    text-decoration: none;
    color: #00a0df;
}
.Bbtn:hover,.Up:hover{
    text-decoration: none;
    color: #00a0df;
    width: 55px;
    height: 55px;
    line-height: 55px;
}

#closeIde{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    color: red;
    font-size: 18px;
}

.blogHeader{
    margin-bottom: 10px;
}
#blogBarBlock{
    margin-top: 20px;
    float: left;
    width: 100%;
}
.blogBar{
    padding: 0;
    margin-bottom: 80px;
    width: 100%;
    border-radius: 4px;
    border-top: 1px solid #eaeaea;
    box-shadow: 0 8px 10px #bdbdbd;
}
.Bar{
    width: 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.senderInfo{
    padding-left: 10px;
    border-radius: 8px 8px 0 0;
    height: 150px;
    line-height: 40px;
   background: linear-gradient(rgba(255, 255, 255, 0.12), white);
    position: relative;
}

.senderInfo>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    position: absolute;
    top:0
}
.senderInfo>img:hover{
    animation: jump 1s;
}
@keyframes jump {
    0% {
        top:0
    }
    25% {
        top:-20px;
    }
    50% {
        top:0
    }
    75% {
        top:-10px;
    }
    100% {
        top:0
    }
}
.senderInfo p{
    padding-left: 100px;
    color: #5a7187;
}
.sendername{
    color: #5a7187;
}
.sendernames{
    color: #2a3540;
}
.senderInfo .title>a{
  color: #404040;
    font-size: 20px;
}
.ti{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
.ti:hover{
    text-decoration: none;
}


.blogCon{
    width: 100%;
    background-color: #ffffff;
}
.blogBar>.blogCon>p{
    padding: 0;
    margin: 0;
    display: block;
    overflow-x: hidden;
}


.blogArt{
    width: 80%;
    max-height: 100px;
    overflow-y: hidden;
    padding-top: 0;
    color: #7e7e7e;
    padding-left: 10px;
}
.blogBarFooter{
    padding-left: 10px;
    border-radius:  0 0 8px 8px;
    height: 40px;
    background-color: white;
    line-height: 40px;
}
.readAll{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid #0fbfbf;
    float: left;
    background-color: #0b8989;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
.readAll:hover{
     text-decoration: none;
    color: white;
}
.blogBarFooter>.likeBtn{
    cursor: pointer;
    float: right;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 18px;
    padding-right: 5px;
}
.blogBarFooter>.likeBtn>.Lnum{
 color: #bbbbbb;
    font-size: 12px;
}

.like{
    color: red;;
}
.unlike{
    color: #a2a2a2;
}

#morebtn{
    text-align: center;
    clear: both;
    height: 40px;
    display: none;
}
#morebtn>input{
    height: 40px;
    width: 100%;
    font-weight: bolder;
    outline: none;
    border: none;
    opacity: 0.8;
    border-radius: 8px;
    font-size: 15px;
}

.tipsinfo{
    font-size: 28px;
    color: #090909;
}
.tipsback{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    background-color: #00a0df;
    color: white;
    border-radius: 8px;
}

#rightBar{
    height: 300px;
    background-color: rgb(255, 254, 252);
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}
#rightBar>p{
    display: block;
    color: rgb(154, 154, 154);
    font-size: 15px;
    border-bottom: 1px solid #44c4d5;
    height: 30px;
    line-height: 30px;
}
#Btitle{
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 20px;
}
#subSe{
    height: 45px;
    outline: none;
    border: none;

}

#subSe option{
    color: white;
    background-color: pink;
    display: block;
    height: 35px;
}
#subSe option:hover{
    background-color: plum
}