#exit {
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
}

/*消息小框框啊*/
.badge {
    background-color: red;
}

body {
    overflow-x: hidden;
}

.navbar-inverse {
    background: rgba(255, 255, 255, 0.43);
    border: none;
}

.navbtn:hover {
    font-size: 20px;
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: #51504e;
    background: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #f8d6a0;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #f8d6a0;
    animation: proRotate 1s;
    background-color: #f3f3f3;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #f8d6a0;
    background-color: #f2f2f2;
}

@keyframes proRotate {
    0% {
        transform: perspective(400px) rotateX(180deg);
    }
    100% {
        transform: perspective(400px) rotateX(0deg);
    }
}

.navbar-inverse .navbar-collapse {
    border-color: wheat;
}

.navbar-toggle {
    background-color: #fff318;
    border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff318;
    border: none;
}

.navbar {
    position: relative;
    z-index: 2;
}

#content {
    padding-top: 20px;
}

.navbar-inverse .navbar-nav > li > .nowhtml {
    color: #000000;
    font-size: 20px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.tips {
    display: none;
    top: 35%;
    width: 50%;
    height: 80px;
    position: fixed;
    left: 25%;
    z-index: 9999;
    background-color: #ffcd24;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
}


/* 登录组件样式设置 */
.like_panel {
    width: 100%;
    height: 30px;
}

.v_likebtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 20px;
    color: #9d9d9d;
}


.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -0.2em 0 0 -0.2em;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.1);
    border-right: 0.3em solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.1);
    border-left: 0.3em solid #555;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation: loader 300ms infinite linear;
    -webkit-animation: loader 300ms infinite linear;
    animation: loader 300ms infinite linear;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 0;
    overflow: hidden;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.is-loading {
    overflow: hidden;
}

.is-loading .curtain {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    z-index: 99;
}

.is-loading .loader {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}


#notice, #vlog, #recommend {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.noticeHeader, .vlogHeader, .recHeader {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #979797;
    color: #0b2e13;
}

#vlog > video {
    margin-top: 5px;
    outline: none;
}

#recommend > ul {
    list-style: none;
}

#recommend > ul > li {
    margin-top: 5px;
}

#recommend > ul > li > a {
    color: #00AA88;
}


#neck {
    margin-top: -20px;
    background-image: url("/img/yezishu.jpg");
    background-repeat: no-repeat;
    height: 400px;
    background-position: center top;
    background-size: cover;
    position: relative;
}



