*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/*页面重构*/


.container-fluid{
    padding: 0;
    margin: 0;
}
.panel-default>.panel-heading{
    background-color: #626262;
    color: white;
}
.ask>.panel-body{
    padding: 0;
    border: none;
}
.vid>.panel-body{
    padding: 0;
}
.list-group-item{
    background-color: rgba(255, 255, 255, 0);
}
.panel{
    background-color: rgba(255, 255, 255, 0.92);

}

#banner{
    overflow: hidden;
    height: 20em;
    position: relative;
    line-height: 20em;
    padding: 0;
    margin-bottom: 10px;
}
#banner .img{
    position: relative;
    height: 20em;
}
#banner>.img>.active{
    display: block;
}
#banner .img img{
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 20em;
}
#banner>.banner_btn{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    top: 45%;
    width: 100%;
    height: 30px;
    position: absolute;
}
#banner>.banner_btn>div{
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
}
#banner>.banner_btn>.btn_left{
    color: white;
    float: left;
}
#banner>.banner_btn>.btn_right{
    float: right;
    color: white;
}

#hotArt{
    width: 100%;
    min-height: 300px;
    background-color: #feffe7;
   margin-bottom: 10px;
    border-radius: 8px;
}
.hotHeader{
    width: 100%;
    height: 35px;
    background-color: #fdfffd;
    border-radius: 8px 8px 0 0;
}
.hotHeader>p{
    width: 100px;
    height: 35px;
    display: block;
    float: left;
    text-align: center;
    line-height: 35px;
    padding: 0;
    margin: 0;
    color: #a3a3a3;
}
.artBody{
    width: 100%;
    min-height: 265px;
}
.artBody>h3{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.artBody>div{
    padding: 10px;
    color: #98a388;
    font-size: 16px;
}
.artFooter{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.artFooter>i{
    padding-right: 20px;
    float: right;
}
.artFooter>a{
    color: #00A000;
}

#about{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 8px;
}
.aboutHeader{
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    color: #9e9e9e;
}


